<!doctype html>
<html>
    <head>
        <title>ECE1779 Assignment One</title>
	    <link rel="stylesheet" href='/static/core-style.css' />
    </head>
    <body>
	    {% include "top_bar.html" %}

        {% if (keys is defined) and keys %}
            <h2>List of keys stored in the database</h2>
	        <p>
	            <h6>Total number of keys= {{total}}</h6>
            </p>
	        {% for key in keys %}
                <div><b>{{ key }}</b><br></div>
            {% endfor %}

        {% else %}
            <h3>There are no keys stored</h3>

        {% endif %}
    </body>
</html>
